#!/bin/bash
echo "Starting Base Engine"
yum install telnet -y
set -euo pipefail

yum install epel-release -y  
yum install nginx jq -y      

%{ if engine_type == "web" || engine_type == "api" }

${api_server_installation}

%{ endif } 
