#!/bin/bash
echo "Starting Base Engine"
/usr/sbin/setsebool -P httpd_can_network_connect true 



%{ if engine_type == "web" }

${web_server_installation}

%{ endif } 





%{ if engine_type == "api" }

${api_server_installation}

%{ endif } 
